# $Id: tpops.conf.sample,v 1.8 2003/01/18 09:10:50 tommy Exp $

$port = 110
$hostname = `uname -n`.chomp
$connection_keep_time = 60*60
$command_timeout = 10*60
$with_inetd = false
$access_log = nil	# '/var/log/tpops.log'
$error_log = nil	# '/var/log/tpops.err'
$pid_file = nil		# '/var/run/tpops.pid'
$syslog_facility = Syslog::LOG_MAIL

$auth_type = 'Passwd'
$error_interval = 5
$min_servers = 5
$max_servers = 50
$max_use = 100
$max_idle = 100
$maildir_extended = true
$maildir_use_filesize = true

$passwd_lock_dir = '/var/tmp/tpops'
$apop_passwd_file = nil		# '/etc/tpops-apoppw'

$mysql_server = nil		# 'localhost'
$mysql_user = nil		# 'user'
$mysql_pass = nil		# 'passwd'
$mysql_db = nil			# 'tpops'

$mysql_auth_query = "select login,passwd,uid,maildir from user where login='%s'"
#class TPOPS
#  def after_auth_hook(sock, auth, mailbox)
#    m = Mysql::new($mysql_server, $mysql_user, $mysql_pass, $mysql_db)
#    m.query("replace into pbs (ip) values ('#{m.quote sock_to_addr sock}')")
#    m.close
#  end
#end
