# $Id: tpops.conf.sample,v 1.6 2002/11/19 16:11:11 tommy Exp $

#Port = 110
#Hostname = 'yourhost'
#ConnectionKeepTime = 60*60		# 1 hour
#CommandTimeout = 5*60			# 5 minutes
#WithInetd = true			# set true if using with inetd
#LogFile = '/var/log/tpops.log'		# default no logging
#ErrorFile = '/var/log/tpops.err'	# used when WithInetd is true
#SyslogFacility = Syslog::LOG_MAIL	# default nil (don't use syslog)

#AuthType = 'Passwd'		# 'Passwd' or 'MySQL'
#MailboxType = 'Maildir'	# 'Maildir' or 'MySQL'
#MaildirUseFileSize = false
#MaildirExtended = false	# Maildir++ format support
#PasswdLockDir = '/var/tmp/tpops'
#APOPPasswdFile = '/etc/tpops-apoppw'

# if you use MySQL, set these parameters
#
#MySQL_Server = 'localhost'	# server that mysqld running
#MySQL_User = 'user'		# username to connect mysqld
#MySQL_Pass = 'passwd'		# password to connect mysqld
#MySQL_DB = 'tpops'		# database used by TPOPS
#
#MySQLAuthQuery = "select login,passwd,uid,maildir from user where login='%s'"

#------------------------
# If you want POP_before_SMTP feature, then enable following lines.
# and run popb4smtp-clean.
# And make your smtp server to check tpops.pbs MySQL table.
# 
#class TPOPS
#  def after_auth_hook(sock, auth, mailbox)
#    m = Mysql::new(MySQL_Server, MySQL_User, MySQL_Pass, MySQL_DB)
#    m.query("replace into pbs (ip) values ('#{m.quote sock_to_addr sock}')")
#    m.close
#  end
#end
